.shopping .title {
    font-size: 30px;
    font-weight: 700;
}
.shopping .title .name-product {
    color: red;
    font-size: inherit;
}
.shopping .product > div {
    display: flex;
}
.shopping .product #cost {
    margin-right: 5px;
}
.shopping .box-cover {
    background-color: rgba(204, 204, 204, 0.1);
    border-radius: 10px;
    font-size: 1.3rem;
    margin-top: 20px;
    padding: 10px;
}

.shopping .box-cover .top-title{
    font-size: 25px;
    font-weight: 700;
}
.shopping .title {
    margin: 20px 0;
}

.shopping .style > div {
    display: flex;
}
.shopping .title-product {
}
.shopping .title .shopping .box-cover .main-product {
    /* text-align: center; */
}
.shopping .box-cover .main-product::after {
}
.content-inside {
}

.shopping .box-cover .main-product .product {
    margin: 40px 0;
}

.shopping .box-cover .handle {
    display: flex;
    align-items: center;
}
#amount-count {
    margin: 0 20px;
}
.shopping .box-cover .handle button,
.shopping .box-cover .remove {
    border: solid #ccc 0.4px;
    border-radius: 8px;
    width: 40px;
    cursor: pointer;
}
.shopping .box-cover .button-amount p {
    /* margin: 0 15px; */
    font-weight: 300;
}

.shopping .box-cover .total-money {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.shopping .box-cover .total-product .total-money .remove {
    border-radius: 5px;
    border: none;
    background-color: rgba(206, 14, 240, 0.411);
    cursor: pointer;
    margin-left: 20px;
}

.shopping .title-top {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 10px;
}
.shopping .box-cover .cash p {
    font-weight: 300;
}
.shopping .box-cover .cash .style {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.shopping .box-cover .cash .total-money {
    font-weight: 500;
}

.order-button {
    border: none;
    padding: 10px 0;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    /* transition: 0.3s ease; */
}
.order-button:hover {
    background-color: black;
    transition: 0.5s all;
    color: white;
}

.detail-cart {
    margin-bottom: 20px;
}
.detail-cart .product img {
    width: 100%;
}
.detail-cart .product .name-product {
    display: grid;
    align-items: center;
}
.detail-cart .product .name-product h3 {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
}
.detail-cart .product .name-product p {
    padding: 0;
}
.detail-cart .product .cost-product {
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
}
.detail-cart .product i {
    margin-top: 28px;
    font-size: 25px;
    color: brown;
    width: 39px;
    padding: 10px;
    height: 44px;
    text-align: center;
    border-radius: 13px;
    align-items: center;
    background-color: cornsilk;
}
}
