* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Myriad Pro Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Myriad Pro Regular"),
        url("../font/MYRIADPRO-REGULAR.woff") format("woff");
}
@font-face {
    font-family: "Semila";
    font-weight: 700;
    font-style: italic;
    src: url("../font/VNF-Semilla-Script.ttf");
}
:root {
    --color1: #3e3e40;
    --color-white: #fff;
    --font-Sofia-Regular: "Sofia", cursive;
    --color-para: #999999;
    --color-title: #336699;
    --color-bg: #e6e6e6;
    --color-para2: #666666;
}

/* ///////////////////////// Line Path /////////////////////// */
.bg {
    background-color: #ccccff;
    padding: 26px 0;
    border: 1px solid #9999cc;
}
.bg .container {
    display: flex;
    align-items: center;
}
@media all and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .container-pd {
        padding: 0 30px;
    }
}
.container-pd {
    padding: 0 30px;
}
.bg .container a p {
    font-size: 14px;
    margin: 0;
}
.bg .container span {
    margin: 0 5px;
    color: #007bff;
}

/* ////////////////////////////////////////////////////// */
h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    background: transparent;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
    outline: none;
}

input,
textarea,
select,
button,
a,
button:hover,
button:active,
button:focus {
    outline: none;
}

@media all and (min-width: 1200px) {
    .container {
        max-width: 1170px;
        padding: 0;
    }
}

@media all and (min-width: 1200px) {
    .container-pd {
        padding: 0 15px;
    }
}

.row {
    margin: 0;
}

@font-face {
    font-family: "Myriad Pro Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Myriad Pro Regular"),
        url("./../Font/MYRIADPRO-REGULAR.woff") format("woff");
}

.color-top {
    background-color: #3e3e40;
    width: 100%;
    padding: 8px 0;
}

.fixCen {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fixCen .call {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: unset;
}
.fixCen .call p {
    font-weight: 300;
    margin: 0 10px 0 3px;
}

.fixCen .btn-top-1 button {
    padding: 0;
    border: none;
    font-family: "Myriad Pro Regular";
    background-color: #3e3e40;
    color: #fff;
    margin-right: 17px;
    font-size: 14px;
    margin-left: 2px;
}
.fixCen .btn-top-1 button:last-child {
    margin-right: 0;
}

@media all and (max-width: 991px) and (max-width: 576px) {
    .fixCen .btn-top-1 {
        right: 0;
    }
    .fixCen .btn-top-1 button::after {
        margin-left: 2px;
    }
}

.fixCen .btn-top-1 button i {
    margin-right: 2px;
    font-size: 14px;
}

.fixCen .btn-top-1 button:hover,
.fixCen .btn-top-1 button.active {
    color: #6ca4dc;
}
section .sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    background-image: linear-gradient(90deg, pink, transparent);
    background-color: rgba(100, 120, 220, 1);
    width: 100%;
}
section .wrapped {
    padding: 13px 0 12px 0;
}
section .wrapped .navbar .collapse ul li {
    margin-right: 8px;
}

section .wrapped .navbar .collapse ul li a {
    font-size: 14px;
    font-weight: 300;
    color: #5d5d5d;
    padding: 5px 7px 10px 10px;
    letter-spacing: -1px;
}

@media all and (min-width: 1024px) {
    section .wrapped .navbar .collapse .form-inline .form-control {
        display: none;
    }
}

section .wrapped .navbar .collapse .form-inline button {
    background-color: unset;
}

section .wrapped .navbar .collapse .form-inline button a i {
    font-size: 22px;
    margin: 0px 26px 0 43px;
    color: #5d5d5d;
    letter-spacing: -1px;
}

section .wrapped .navbar .collapse .btn-close {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
@media all and (min-width: 1024px) {
    section .wrapped .navbar .collapse .btn-close {
        display: none;
    }
}

@media all and (max-width: 991px) and (min-width: 576px) {
    section .wrapped .navbar .navbar-collapse {
        width: 180px;
    }
}

.jumbotro {
    margin-top: 60px;
    text-align: center;
    position: relative;
}

.jumbotro h2 {
    font-size: 60px;
    color: #000;
    font-family: "Sofia", cursive;
}

.jumbotro p {
    position: absolute;
    bottom: 0;
    left: calc(50% - 281px);
    font-size: 14px;
    font-weight: 300;
    color: #999999;
}
.jumbotro p span {
    margin-left: 25px;
}
.text-content {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content h4 {
    font-size: 24px;
    font-weight: 700;
}

.text-content p {
    font-size: 14px;
}

.cover,
#lastest-news .pic .bg-blue .text-describe .cover,
.events .row .event .text-describe-1 .cover {
    display: flex;
}

.cover .btn-read,
#lastest-news .pic .bg-blue .text-describe .cover .btn-read,
.events .row .event .text-describe-1 .cover .btn-read {
    position: relative;
    margin: 22px 10px 0 0;
}

.cover .btn-read img,
#lastest-news .pic .bg-blue .text-describe .cover .btn-read img,
.events .row .event .text-describe-1 .cover .btn-read img {
    width: 100%;
}
.cover .btn-share,
#lastest-news .pic .bg-blue .text-describe .cover .btn-share,
.events .row .event .text-describe-1 .cover .btn-share {
    margin-top: 24px;
    position: relative;
}

.cover-1 {
    display: flex;
}
.cover-1 .btn-read-1 {
    position: relative;
    margin: 10px 15px 0 0;
}

.cover-1 .btn-read-1 img {
    width: 100%;
}

.carousel-inner .carousel-item {
    position: relative;
}
.carousel-inner .carousel-item .inner-banner {
    background-size: contain;
    position: absolute;
    top: 78px;
    right: unset;
    bottom: unset;
    left: 205px;
}
.carousel-inner .carousel-item .inner-banner .title-inner h3 {
    font-size: 186.84px;
    font-family: "Semila";
    z-index: 999;
    position: relative;
    color: #3579bd;
}
.carousel-inner .carousel-item .inner-banner .title-inner span {
    color: #fff;
}
.carousel-inner .carousel-item .inner-banner .title-inner h4 {
    font-family: "Raleway", sans-serif;
    font-size: 129.32px;
    font-weight: 100;
    color: #fff;
    z-index: 10;
    position: absolute;
    bottom: 57px;
    left: 15px;
    text-transform: uppercase;
}

.carousel-inner .carousel-item .inner-banner .under {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.carousel-inner .carousel-item .inner-banner .under h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    color: #fff;
    margin: 0 62px 0 20px;
}

.carousel-inner .carousel-item .inner-banner .under .type-button .text {
    /* width: 100%; */
}

.carousel-inner .carousel-item .inner-banner .under .type-button button {
    background-color: unset;
    padding: unset;
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.carousel-control-prev {
    left: 30px;
}

.carousel-control-prev-icon {
    background: url(./../images/Carousel/btn-prev-2.png) no-repeat;
    width: 16px;
    height: 27px;
}

.carousel-control-next {
    right: 30px;
}

.carousel-control-next-icon {
    background: url(./../images/Carousel/btn-next-2.png) no-repeat;
    width: 16px;
    height: 27px;
}

section .fixCen .wrap {
    text-align: center;
}

section .fixCen .wrap .tips {
    margin-top: 13px;
    padding: 0 50px;
}

section .fixCen .wrap .tips a .book {
    margin-top: 56px;
}
section .fixCen .wrap .tips a .light {
    margin: 30px 0 25px 37px;
}
section .fixCen .wrap .tips a img {
    margin-top: 50px;
    margin-bottom: 40px;
}
section .fixCen .wrap .tips a .plant {
    margin: 42px 24px 51px 0;
}
section .fixCen .wrap .tips h4 {
    font-size: 18px;
    margin-bottom: 7px;
    font-weight: 700;
}

section .fixCen .wrap .tips p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}

section .our-courses {
    margin-top: 70px;
}
section .our-courses p {
    left: calc(50% - 310.5px);
    bottom: -2px;
}

section .owl-wrapper-outer {
    margin: 45px 0 0 15px;
}
section .owl-wrapper-outer .our-courses-inner {
    position: relative;
}

section .owl-wrapper-outer .our-courses-inner .div {
    position: absolute;
    top: unset;
    right: unset;
    bottom: 10px;
    left: 20px;
    color: #fff;
}

section .owl-wrapper-outer .our-courses-inner .div h5 {
    font-size: 18px;
}

section .owl-wrapper-outer .our-courses-inner .div .text {
    display: flex;
    align-items: center;
    justify-content: unset;
}
section .owl-wrapper-outer .our-courses-inner .div .text p {
    font-size: 12px;
    margin-right: 30px;
}

section .owl-wrapper-outer .our-courses-inner .div .text p i {
    font-size: 14px;
}

section .owl-controls .owl-buttons .owl-prev {
    position: absolute;
    left: -55px;
    top: calc(50% - 50px);
}

section .owl-controls .owl-buttons .owl-next {
    position: absolute;
    right: -55px;
    top: calc(50% - 2.5em);
}

section .btn-courses {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .btn-courses button {
    border: none;
    background-color: unset;
}

section .btn-courses .hover-btn {
    visibility: hidden;
}

section .btn-courses .hover-btn-2 {
    visibility: hidden;
    transform: rotateY(180deg);
}
@media all and (max-width: 1367px) {
    section .btn-courses {
        /* width: 25%; */
    }
}

section .btn-courses:hover .hover-btn,
section .btn-courses:hover .hover-btn-2 {
    visibility: visible;
}

section .wrap-all {
    background-color: #e6e6e6;
    margin: 64px 0 90px 0;
    padding: 87px 0px 110px 0;
}
section .wrap-all #activities {
    margin-top: unset;
    margin-bottom: 74px;
}
section .wrap-all #activities p {
    bottom: -2px;
    left: calc(50% - 196px);
}

section .wrap-all #free-food,
section .wrap-all #free-food-under {
    display: flex;
    align-items: unset;
    justify-content: unset;
    flex-wrap: wrap;
}
section .wrap-all #free-food .text-img,
section .wrap-all #free-food-under .text-img {
    margin: 0 0 34px;
}
section .wrap-all #free-food .text-img .text-content,
section .wrap-all #free-food-under .text-img .text-content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: unset;
}
section .wrap-all #free-food .text-img .text-content .water,
section .wrap-all #free-food .text-img .text-content .swing,
section .wrap-all #free-food-under .text-img .text-content .water,
section .wrap-all #free-food-under .text-img .text-content .swing {
    margin-right: 0;
}
section .wrap-all #free-food .text-img .text-content .flow,
section .wrap-all #free-food-under .text-img .text-content .flow {
    margin-right: 20px;
}
section .wrap-all #free-food .text-img .text-content img,
section .wrap-all #free-food-under .text-img .text-content img {
    margin-right: 10px;
}
section .wrap-all #free-food .text-img .text-content > div,
section .wrap-all #free-food-under .text-img .text-content > div {
    padding: 0 15px;
}
section .wrap-all #free-food .text-img .text-content > div .excursion,
section .wrap-all #free-food-under .text-img .text-content > div .excursion {
    padding: 0 19px 0 13px;
}
section .wrap-all #free-food .text-img .text-content > div h4,
section .wrap-all #free-food-under .text-img .text-content > div h4 {
    font-size: 24px;
    margin-bottom: 10px;
}
section .wrap-all #free-food .text-img .text-content > div p,
section .wrap-all #free-food-under .text-img .text-content > div p {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
}

section .wrap-all #free-food .text-img .hover-image,
section .wrap-all #free-food-under .text-img .hover-image {
    position: absolute;
    top: unset;
    right: unset;
    bottom: 20px;
    left: 0;
    opacity: 0.5;
    display: none;
    z-index: -1;
}

/* ///////////////////////////////////////////////////////////////// */
section #teacher p {
    bottom: -2px;
    left: calc(50% - 310.5px);
}

/* section #teacher-slide {
  margin-top: 30px;
} */
section #teacher-slide {
    margin-top: 36px;
    position: relative;
    margin-left: unset;
}
section .button-arrows {
    list-style: none;
}

section .button-arrows .slick-arrow {
}
section .button-arrows .next {
    background-color: #ccc;
    position: absolute;
    right: 0;
}
section .button-arrows .prev {
    background-color: #ccc;
    position: absolute;
    left: 0;
}
/* section #teacher-slide .owl-controls .owl-buttons .owl-next {
    top: calc(50% - 50px);
} */
section #teacher-slide .infor {
    position: relative;
    text-align: center;
}
section #teacher-slide .infor .detail {
    padding: 0 46px;
    position: absolute;
    top: 30px;
    right: unset;
    bottom: unset;
    left: 0;
}
section #teacher-slide .infor .detail img {
    margin: 4px 0;
}

section #teacher-slide .infor .detail h5 {
    font-size: 18px;
    font-weight: 700;
}

section #teacher-slide .infor .detail span {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
}

section #teacher-slide .infor .detail p {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    color: #666666;
    text-align: start;
}

section #students {
    margin: 75px 0 63px 0;
}
section #students p {
    bottom: -2px;
    left: calc(50% - 171px);
}

section .wrapper #cover-st {
    flex-wrap: wrap;
    display: flex;
}
section .wrapper .avatar {
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: unset;
    margin-bottom: 52px;
}

section .wrapper #cover-st .avatar h5 {
    font-size: 14px;
    margin: 9px 0 4px 7px;
    font-weight: 700;
}
section .wrapper #cover-st .avatar .style-avatar {
    background-color: rgba(140, 140, 140, 0.2);
    border-radius: 50%;
    width: 100%;
}
section .wrapper #cover-st .avatar p {
    font-size: 14px;
    margin-left: 7px;
}

section .wrapper #cover-st .message {
    position: relative;
    margin-left: 4px;
}

section .wrapper #cover-st .message p {
    position: absolute;
    top: 40px;
    width: 100%;
    line-height: 1.8;
    left: 5px;
    color: #fff;
    font-size: 12px;
    padding: 0px 25px 0 14px;
    transform: rotateZ(-10deg);
}

/* //////////////////////////////////////////////// */
#lastest-news-top {
    margin-top: 20px;
}
#lastest-news-top p {
    bottom: -2px;
    left: calc(50% - 210px);
}

#lastest-news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#lastest-news .pic {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

#lastest-news .pic .bg-blue {
    position: relative;
}

#lastest-news .pic .bg-blue .text-describe {
    position: absolute;
    top: 16px;
    right: 9px;
    bottom: unset;
    left: 15px;
    line-height: 1.5;
    color: #fff;
    font-size: 14px;
}

.events {
    background-color: #333333;
    margin-top: 71px;
}
.events .list-events {
    color: #fff;
    padding: 78px 0 45px 0;
}
.events .list-events h2 {
    color: #fff;
}
.events .list-events p {
    bottom: 40px;
    left: calc(50% - 275px);
}

.events .list-events span {
    font-size: 14px;
    margin: 0 20px;
}

.events .row {
    background-color: #7d7d7d;
}
.events .row .event {
    padding: 57px 148px 0;
    display: flex;
    border-bottom: 10px solid #ffffff;
}
@media all and (max-width: 1367px) {
    .events .row .event {
        padding: 60px 50px 0;
    }
}
.events .row .event:last-child:after {
    content: unset;
}
.events .row .event:after {
    border: 2px dashed #fff;
    border-radius: 2px;
    display: inline-block;
    content: "";
    height: 75%;
    position: absolute;
    top: unset;
    right: -2px;
    bottom: 0;
    left: unset;
}
.events .row .event:hover {
    background-color: #5a5a5a;
}

.events .row .event:nth-child(1) {
    border-left: none;
}
.events .row .event .image {
    margin-top: 11px;
}

.events .row .event .text-describe-1 {
    color: #fff;
    width: 100%;
    margin-left: -8px;
    margin-top: 9px;
}

.events .row .event .text-describe-1 h5 {
    font-size: 17px;
    margin-bottom: 6px;
}

.events .row .event .text-describe-1 p {
    font-weight: 400;
    font-size: 9px;
    margin-bottom: 10px;
}

.events .row .event .text-describe-1 span {
    font-size: 14px;
    font-weight: 400;
}

.letter {
    background-color: #333333;
    padding: 39px 0 75px;
}
.letter .text-subcribe {
    color: #fff;
    font-weight: 700;
}
.letter .text-subcribe h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

.letter .text-subcribe span {
    color: #336699;
}
.letter .text-subcribe p {
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
}

.letter .form-valid {
    color: #fff;
    font-weight: 700;
    margin-top: 28px;
}

.letter .form-valid form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.letter .form-valid form h4 {
    font-size: 24px;
}

.letter .form-valid form .form-group {
    width: 70%;
    margin-top: 4px;
}
.letter .form-valid form .form-group .form-control {
    padding: 12px;
    width: 97%;
    background: #999999;
}

.letter .form-valid form button {
    border: none;
    background-color: unset;
    padding: unset;
}

.jumbotro {
    margin-top: 60px;
    text-align: center;
    position: relative;
}

.jumbotro h2 {
    font-size: 60px;
    color: #000;
    font-family: "Sofia", cursive;
}
.jumbotro p {
    position: absolute;
    bottom: 0;
    left: calc(50% - 281px);
    font-size: 14px;
    font-weight: 300;
    color: #999999;
}
.jumbotro p span {
    margin-left: 25px;
}

.text-content {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content h4 {
    font-size: 24px;
    font-weight: 700;
}

.text-content p {
    font-size: 14px;
}

.cover,
#news .pic .bg-blue .text-describe .cover,
.events .row .event .text-describe-1 .cover {
    display: flex;
}

.cover .btn-read,
#news .pic .bg-blue .text-describe .cover .btn-read,
.events .row .event .text-describe-1 .cover .btn-read {
    position: relative;
    margin: 22px 10px 0 0;
}

.cover .btn-share,
#news .pic .bg-blue .text-describe .cover .btn-share,
.events .row .event .text-describe-1 .cover .btn-share {
    margin-top: 24px;
    position: relative;
}

/* ///////////////////////////////////////////////////////////////// */

.cover-1 {
    display: flex;
}
.cover-1 .btn-read-1 {
    position: relative;
    margin: 10px 15px 0 0;
}

.cover-1 .btn-read-1 .inner {
    text-transform: uppercase;
}

.cover-1 .btn-read-1 img {
    width: 100%;
}
.ft-content {
    align-items: unset;
    margin-top: 59px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.ft-content .left p {
    color: #999999;
    margin-top: 25px;
    font-size: 14px;
    line-height: 1.5;
}

.ft-content .list-UL {
    margin-top: 30px;
    margin-right: 0;
    padding: 0 5px;
}
.ft-content .list-UL h5 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 17px;
}

.ft-content .list-UL ul {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    list-style-type: ">";
}
.ft-content .list-UL ul li {
    margin-left: 5px;
    color: #999999;
    transition: 0.5s all;
    font-size: 14px;
}
.ft-content .list-UL ul li:hover {
    transform: translate(15px);
    color: #33587f;
}

.content-tag ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.content-tag ul li {
    float: left;
    border: 1px solid #ccc;
    margin-right: 3px;
    margin-bottom: 2px;
}
.content-tag ul li a {
    padding: 10px 11px;
    text-transform: capitalize;
    color: #999999;
    display: block;
    font-size: 14px;
}

.footer-detail {
    margin-top: 45px;
    align-items: unset;
    padding-bottom: 43px;
    border-bottom: 1px solid #ccc;
}

.footer-detail .footer-inner .content-touch .contact {
    margin-top: -7px;
}
.footer-detail div {
    margin-top: 0;
}
.footer-detail div h5 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-detail div .contact p {
    color: #999999;
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-detail div .contact p i {
    margin-right: 11px;
}
.footer-detail div .list-images img {
    margin: 0 5px 10px 0;
}

.footer-detail div .list-icon {
    margin-top: 12px;
}
.footer-detail div .list-icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-detail div .list-icon ul li {
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.footer-detail div .list-icon ul li a {
    padding: 6px 13px;
    color: #999999;
    display: block;
    font-size: 18px;
}

.footer-detail .blog .future {
    color: #999999;
    margin-bottom: 28px;
}

.footer-detail .blog .future p {
    font-weight: 400;
    font-size: 14px;
}

.footer-detail .blog .future span {
    font-weight: 300;
}

.footer-detail .blog .future img {
    float: left;
    margin-right: 10px;
}

.pay-method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0 60px;
}

.pay-method .inner-pay {
    display: flex;
    align-items: center;
    justify-content: unset;
}
.pay-method .inner-pay a {
    margin: 0 28px 0 -12px;
}

@media all and (max-width: 1199px) {
    .fixCen {
        /* align-items: center; */
    }
    .carousel-inner .carousel-item .inner-banner {
        top: 72px;
        left: 81px;
    }
    section .fixCen .wrap .tips a img {
        margin-left: unset !important;
    }
    .list-images {
        display: flex;
        flex-wrap: wrap;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .footer-inner {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 991px) {
    .carousel-inner .carousel-item .inner-banner {
        left: 72px;
        right: 150px;
        top: 24px;
    }

    .carousel-inner .carousel-item .inner-banner .title-inner h3 {
        font-size: 120.84px;
    }
    #news .pic .bg-blue {
        width: 100%;
    }
    .carousel-inner .carousel-item .inner-banner .title-inner h4 {
        font-size: 83px;
        bottom: 80px;
        left: 10px;
    }
    .carousel-inner .carousel-item .inner-banner .under {
        margin-top: 8px;
    }
    .carousel-inner .carousel-item .inner-banner .under h3 {
        margin: 0 0 0 14px;
        font-size: 32px;
    }
    .pic img {
        width: 100%;
        display: inline-block;
    }
    .fixCen .call {
        visibility: hidden;
    }
    .fixCen .btn-top-1 {
        position: fixed;
        top: 0;
        right: 10px;
        padding-right: 0;
        z-index: 3;
        display: none;
    }
    section .wrapped .navbar .collapse ul li {
        margin-right: 5px;
    }
    .fixCen .btn-top-1 button {
        font-size: 14px;
        background-color: unset;
    }

    .fixCen .btn-top-1 button i {
        font-size: 14px;
    }
    section .wrapped .navbar .collapse ul li a {
        color: #fff;
        padding: 15px;
    }
    section .wrapped .navbar .collapse .form-inline {
        position: relative;
        margin: 0 15px;
    }
    section .wrapped .navbar .collapse .form-inline button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: unset;
        left: unset;
    }
    section .wrapper #cover-st .list-feedback .feedback .message p {
        top: 30px;
    }
    section .wrapped .navbar .collapse .form-inline button a i {
        font-size: 20px;
    }
    section .wrapped .navbar .navbar-collapse {
        background-color: #333333;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        z-index: 99;
        height: 100vh;
    }
    section .wrapped .navbar .collapse .btn-close {
        position: absolute;
        top: -10px;
        left: -20px;
    }
    section .wrapped .navbar .navbar-collapse .navbar-nav {
        margin-top: 40px;
    }
    section .wrapped .navbar .navbar-toggler {
        padding: 0;
    }
}
@media (max-width: 576px) {
    section .fixCen .wrap .tips {
        padding: 0 15px;
    }
    section .wrapped .navbar .navbar-collapse {
        width: 180px;
    }
    section .wrapped .navbar .collapse .form-inline button a i {
        margin-right: 0;
    }
    .jumbotro {
        margin: 2.75em 1.25em 0 1.25em;
    }

    .jumbotro h2 {
        font-size: 2.75em;
    }

    .jumbotro p,
    section .wrap-all #activities p {
        bottom: -40px;
        left: calc(50% - 150px);
    }

    section .our-courses p,
    section #teacher p,
    #news-top p {
        left: calc(50% - 165px);
        bottom: -30px;
    }
    section #students p {
        bottom: -8px;
        left: calc(50% - 171px);
    }
    .events .list-events p {
        bottom: 24px;
        left: calc(50% - 150px);
    }
    section #teacher-slide .owl-controls {
        display: none;
    }
    section .wrapper #cover-st .list-feedback .feedback .message p {
        top: 25px;
        left: 5px;
    }

    section .owl-controls .owl-buttons {
        display: none;
    }
    .carousel-inner .carousel-item .inner-banner {
        right: 50px;
        top: 10px;
        left: 55px;
    }
    .carousel-inner .carousel-item .inner-banner .title-inner h3 {
        font-size: 60.84px;
    }
    .carousel-inner .carousel-item .inner-banner .title-inner h4 {
        font-size: 42px;
        bottom: 42px;
        left: 5px;
    }
    .carousel-inner .carousel-item .inner-banner .under {
        margin-top: 12.8px;
    }
    .carousel-inner .carousel-item .inner-banner .under h3 {
        font-size: 13px;
        padding: 4px 40px 0 14px;
        margin: unset;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}
