/* /////////////////////////////// details blog //////////////////////////////// */

.medicine {
  margin: 89px 0 14px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.medicine h3 {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 36px;
}
.medicine .banner {
  width: 100%;
}

.medicine .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.medicine .rating p {
  margin-bottom: 0;
  font-size: 18px;
}
.medicine .rating p img {
  margin-right: 7px;
}
.content h4 {
  font-size: 1.5em;
  color: var(--color-title);
  font-weight: 700;
  margin-bottom: 17px;
}
.content p {
  font-size: 14px;
  color: var(--color-para2);
  font-weight: 400;
  margin-bottom: 30px;
}
.content .buy {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 25px 0;
}
.content .buy p {
  font-size: 1.5em;
  color: var(--color-title);
  font-weight: 700;
  margin-bottom: 0;
  margin-right: 48px;
}
.content .buy button {
  border: none;
  background-color: unset;
}

.content .buy button:focus {
  outline: none;
}
.course-title {
  padding: 36px 0;
}
.course-title h4 {
  font-size: 1.5em;
  color: var(--color-title);
  font-weight: 700;
  margin-bottom: 18px;
}

.plan,
.plan-3 {
  position: relative;
  text-align: center;
  background-color: var(--color-bg);
  max-height: 17em;
  height: 17em;
  padding: 12px 25px;
  border-radius: 10px;
}

.plan h6,
.plan-2 h6,
.plan-3 h6 {
  text-align: start;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-para);
  margin-bottom: 15px;
}

.plan-2 .details-plan .welcome,
.plan-3 .details-plan .welcome {
  text-align: start;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-para);
}

.plan .detais-plan,
.plan-2 .details-plan,
.plan-3 .details-plan {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.plan img {
  margin-top: 11px;
}
.plan-2 img {
  margin-top: 22px;
}

.plan .detais-plan .welcome,
.plan-2 .details-plan .welcome,
.plan-2 .details-plan .medicines,
.plan-2 .details-plan .camping,
.plan-3 .details-plan .welcome {
  display: flex;
}

.plan .detais-plan .sign,
.plan-2 .details-plan .welcome .sign,
.plan-2 .details-plan .medicines .sign,
.plan-2 .details-plan .camping .sign,
.plan-3 .details-plan .welcome .sign {
  background-color: #ccc;
  color: var(--color-para2);
  font-size: 12px;
  font-weight: 400;
  border-radius: 4px;
  padding: 1px 6.5px;
  max-height: 20px;
}
#n-2 {
  padding: 10px 25px;
}
.plan .detais-plan p,
.plan-2 .details-plan p,
.plan-3 .details-plan p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-para2);
  margin-left: 5px;
}
#n-2 .details-plan .medicines p,
#n-2 .details-plan .welcome p,
.plan-3 .details-plan .welcome p {
  margin-left: 10px;
}
.plan-2 .details-plan .welcome p {
  margin-left: 5px;
}
#n-2 .details-plan .camping {
  margin-top: 10px;
}

.plan-2 .details-plan {
  margin-bottom: 7px;
}

.plan-2 .arrow {
  position: absolute;
  right: -30px;
  bottom: calc(50% - 9px);
}
.plan .arrow {
  position: absolute;
  right: -25px;
  bottom: calc(50% - 45px);
}
.plan .arrow i,
.plan-2 .arrow i,
.arrow-2,
.plan-3 .arrow i {
  font-size: 36px;
  color: var(--color-title);
}
.arrow-2 {
  display: none;
  position: absolute;
  bottom: -35px;
  right: calc(50% - 13px);
}

.plan-3 .arrow {
  position: absolute;
  top: -35px;
  right: calc(50% - 20px);
}
.plan-2 {
  position: relative;
  text-align: center;
  background-color: var(--color-bg);
  max-height: 21.75em;
  height: 21.75em;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 30px;
}

@media all and (max-width: 576px) {
  .plan {
    margin-bottom: 30px;
  }
  .plan .arrow,
  .plan-2 .arrow {
    display: none;
  }

  .arrow-2 {
    display: block;
    bottom: -40px;
  }
}
/* ///////////////////////////////// Right main /////////////////////////////// */
.right-main {
  margin: 107px 0 25px 0;
}

.right-main h4,
.posts h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
  padding-bottom: 6px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.carousel-inner {
  position: relative;
}

.carousel-inner .carousel-item .descrip {
  position: absolute;
  bottom: 0;
  left: 0;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #d7d7d7;
  opacity: 0.7;
  height: 31px;
  width: 22px;
}
.carousel-control-prev {
  left: 5px;
  top: calc(50% - 15px);
}
.carousel-control-next {
  right: 5px;
  top: calc(50% - 15px);
}
.carousel-control-prev-icon {
  background-image: url(../images/carousel/btn-prev.png);
  width: 13px;
  height: 22px;
}
.carousel-control-next-icon {
  background-image: url(../images/carousel/btn-next.png);
  width: 13px;
  height: 22px;
}
.carousel-inner .carousel-item .descrip .bg-inner {
  position: relative;
  background: url(../images/carousel/carousel-inner.png) no-repeat;
  background-size: cover;
  width: 275px;
  height: 33px;
}
.carousel-inner .carousel-item .descrip .bg-inner p {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 12px;
  color: #fff;
  margin: 0;
}

.detail-posts {
  display: flex;
  margin-bottom: 10px;
}

.detail-posts .content-post p {
  font-weight: 400;
  margin-bottom: 3px;
}

.detail-posts .content-post span {
  font-weight: 300;
  color: var(--color-para);
}

.detail-posts .content-post {
  margin-left: 10px;
  margin-top: -6px;
  font-size: 14px;
}

.ads {
  position: relative;
  margin-top: 30px;
}

.inner-ads {
  position: absolute;
  bottom: 44px;
  right: 0;
  left: 0;
  text-align: end;
  padding-right: 20px;
}

.inner-ads::after {
  position: absolute;
  content: "";
  bottom: 15px;
  left: 0;
  background-color: var(--color-title);
  width: 100%;
  height: 2px;
}

.inner-ads h6 {
  color: var(--color-para2);
  font-size: 14px;
}

.inner-ads p {
  color: var(--color-para2);
  font-size: 12px;
}

.our-courses-inner img {
  margin: 6px -15px 0;
}
/* @media all and (max-width: 1199px) {
  .carousel-inner .carousel-item .descrip .bg-inner {
    width: 220px;
  }
  .carousel-inner .carousel-item .descrip .bg-inner p {
    left: 10px;
    font-size: 10px;
  }
  .our-courses-inner img {
    width: 100%;
  }
  .our-courses-inner .div {
    bottom: 5px;
    left: 20px;
  }
  .our-courses-inner .div .text p {
    margin-right: 15px;
  }
} */

/* @media all and (max-width: 767px) {
  .style-col:last-child {
    display: none;
  }
  .carousel-inner .carousel-item .descrip .bg-inner {
    width: 390px;
  }
  .carousel-inner .carousel-item .descrip .bg-inner p {
    left: 10px;
    font-size: 10px;
  }
} */

/* ///////////////// Twitter /////////////////////// */
.twitter-details {
  margin: 27px 0 0 10px;
}
#under {
  margin: 0 0 0 10px;
}

.posts {
  margin-top: 25px;
}
.twitter-details img {
  margin-top: 5px;
}
.twitter-details .wrap-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twitter-details .wrap-inner .avatar {
  display: flex;
  align-items: center;
}

.twitter-details .wrap-inner .avatar .name p,
.twitter-details .wrap-inner .avatar .name span {
  font-size: 8.8px;
  margin-bottom: 0;
}

.twitter-details .wrap-inner .avatar .name p {
  font-weight: 700;
}

.twitter-details .wrap-inner .avatar .name p span {
  font-weight: 400;
}

.twitter-details .wrap-inner h6 {
  font-size: 8.8px;
  color: var(--color-para2);
}

.text-1 p,
.statement button {
  font-size: 8.8px;
  margin-bottom: 0.5em;
  background-color: unset;
  border: none;
}

.text-1 p i {
  margin-right: 5px;
}

.statement {
  display: flex;
  justify-content: space-between;
}

.statement .list-icon i {
  color: var(--color-para2);
}
/* 

/* //////////////////////////////// Comment ///////////////////////////////// */
.comment {
  border-top: 1px solid #ccc;
  padding-top: 50px;
}

.comment h4 {
  font-size: 24px;
  color: var(--color-title);
}

.details-cmt {
  display: flex;
  align-items: end;
  position: relative;
  margin-top: 35px;
}
#comment {
  margin-top: 20px;
}
.details-cmt .name {
  margin-left: 20px;
}
#comment .name {
  margin-left: 15px;
}
.details-cmt .name h5 {
  margin-bottom: 3px;
  color: var(--color-para);
}
.details-cmt .name p {
  color: var(--color-para2);
  margin-bottom: 7px;
}
.details-cmt .name button {
  background-color: unset;
  font-size: 14px;
  color: var(--color-title);
  padding: 0;
  font-weight: 400;
  border: none;
}

.details-cmt .name button:focus {
  outline: none;
}

.details-cmt .date {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-para2);
}

.wrapper-cmt {
  margin-left: 33px;
}

.add-cmt {
  padding: 86px 0 60px 0;
  border-bottom: 1px solid #ccc;
}

.add-cmt h4 {
  font-size: 1.5em;
  color: var(--color-title);
  font-weight: 700;
  margin-bottom: 22px;
}
.add-cmt form button {
  margin: 30px 0 -5px;
}
.form-control {
  font-size: 14px;
  color: var(--color-para2);
  padding: 20px 10px;
  width: 95%;
}
.form-group {
  margin-bottom: 27px;
}

.form-group #exampleFormControlTextarea1 {
  padding: 13px 0 33px 20px;
}
.form-row .form-group .form-control:focus {
  padding: 20px 10px !important;
}

.titles-courses {
  text-align: center;
  margin-top: 45px;
}
.titles-courses h4 {
  font-family: "Sofia";
  font-size: 30px;
  margin-bottom: -2px;
}
.titles-courses p {
  font-size: 14.04px;
}
.our-courses-inner {
  margin-top: 10px;
}
.under-path {
  position: relative;
}
.div {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: #fff;
}

h5 {
  font-size: 18px;
}
.text {
  display: flex;
  align-items: center;
}
.text p {
  font-size: 12px;
  margin-right: 30px;
  margin-bottom: 0;
}

.text p i {
  font-size: 14px;
}
@media all and (max-width: 991px) {
  .carousel {
    width: 73%;
    margin: 0 auto;
  }
  .ads {
    display: none;
  }
  .carousel-inner .carousel-item .descrip .bg-inner {
    width: 510px;
  }
  .style-col {
    text-align: center;
  }
  .our-courses-inner img {
    width: 100%;
  }
  .our-courses-inner .div {
    bottom: 3px;
    left: 15px;
  }
  .our-courses-inner .div h5 {
    font-size: 17px;
  }
  .our-courses-inner .div .text p {
    margin-right: 12px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 576px) {
  .carousel {
    width: 100%;
  }
  .our-courses-inner .div {
    bottom: 3px;
    left: 10px;
  }
  .details-cmt .date {
    bottom: 0;
    top: unset;
    font-size: 12px;
  }
  .our-courses-inner .div h5 {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .our-courses-inner .div .text p {
    margin-right: 10px;
    font-size: 10px;
  }
  .our-courses-inner .div .text p i {
    font-size: 11px;
  }
}
