:root {
  --color-para: #b3b3b3;
  --color-linepath: #336799;
  --fz-p: 14px;
}
p {
  font-size: var(--fz-p);
}
.bg {
  background-color: var(--color-linepath);
  border-bottom: 1px solid #6ca4dd;
}

.fixPad {
  padding: 3px 30px;
}
.fixPad p {
  font-size: 14px;
  color: #fff;
}
.fixPad span {
  color: #fff;
  font-size: var(--fz-p);
}

/* /////////////////////////////////////////////////////////////////////// */

.top-banner {
  margin-top: 110px;
}

.top-banner a h5 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
}
.top-banner .content-blog {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
.top-banner .content-blog p {
  font-size: 14px;
  color: var(--color-para);
  position: relative;
  margin-right: 19px;
}
.top-banner .content-blog p img {
  margin-right: 7px;
  margin-bottom: 7px;
}
.top-banner .content-blog p::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 4px;
  width: 1px;
  height: 70%;
  background-color: var(--color-para);
}
.top-banner .content-blog p i {
  font-size: 18px;
  margin-right: 6px;
}
.top-banner .comment {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  padding: 14px 0;
}
.top-banner .comment p {
  font-size: var(--fz-p);
}
.top-banner .comment a {
  margin-left: 55px;
  color: #4974a1;
}
.top-banner .comment a img {
  margin-right: 0;
}
.top-banner .comment a span {
  font-size: var(--fz-p);
}
.paragraph {
  margin: 20px 0 30px 0;
  padding: 0 0 49px 0;
  border-bottom: 1px solid #ccc;
}
.paragraph p {
  font-size: var(--fz-p);
}
.paragraph .notepara {
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  padding: 26px 30px;
  margin: 25px 0;
  border-left: 5px solid #6ca5dc;
}

.paragraph .notepara::before {
  content: "";
  background: url(../images/detailsBlog/angle-right.png) no-repeat;
  width: 18px;
  height: 23px;
  display: block;
  position: absolute;
  left: -7px;
  bottom: calc(50% - 11.5px);
}

.notepara {
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 17px 30px;
  margin: 19px 0;
  border-left: 5px solid #6ca5dc;
}

.notepara::before {
  content: "";
  background: url(../images/detailsBlog/angle-right.png) no-repeat;
  width: 18px;
  height: 23px;
  display: block;
  position: absolute;
  left: -7px;
  bottom: calc(50% - 11.5px);
}

.news {
  margin-bottom: 20px;
}
.list-social {
  margin-bottom: 50px;
}
.list-social button {
  font-size: var(--fz-p);
}

.notepara .content-inner {
  margin-left: 20px;
}
.notepara .content-inner h5 {
  font-size: 18px;
  color: #336799;
  border-bottom: 1px solid #ccc;
  padding-bottom: 14px;
  margin-bottom: 8px;
}
#button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#button button {
  border: none;
  background-color: unset;
}

#button button:focus {
  outline: none;
}

#button button a img {
  background-size: cover;
}
.related-post .jumbotro {
  margin-top: 37px;
}

.related-post .jumbotro a h2 {
  font-size: 30px;
  margin-bottom: -7px;
}
.related-post .jumbotro p {
  position: unset;
  margin-bottom: 20px;
}

.details-news {
  position: relative;
}

.details-news .cover-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 10px;
  justify-content: space-between;
  display: flex;
}

.details-news .cover-btn button {
  background-color: unset;
  border: none;
}

.interactive {
  border-top: unset !important;
  padding-top: 90px !important;
}
@media (max-width: 991px) {
  .details-news .cover-btn {
    bottom: 10px;
    left: 10px;
  }
}
