/* //////////////////////////// List Courses //////////////////////////////// */
.row {
    margin: 0;
}
.wrapper {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 53px;
    padding-bottom: 36px;
}
/* .wrapper img {
    margin-top: 7px;
} */
#content-blog h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.inner {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.inner i,
.inner img {
    margin-right: 10px;
}
.inner p {
    margin-bottom: 0;
    margin-right: 25px;
}
.addToCart {
    background-color: #9999cc;
    border: 0.5px solid #ccc;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.para {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    padding: 30px 0;
    margin-bottom: 10px;
    border-top: 2px solid #336699;
}
.wrapper .big-image img {
    width: 100%;
}
.buttoncart {
    position: relative;
}
.buttoncart .btn {
    position: fixed !important;
    bottom: 10vh;
    right: 3vw;
    padding: 10px 18px;
    border-radius: 10px;
}
.visible {
    display: block;
}
.buttoncart .btn .fa {
    font-size: 25px;
}
.shopcart {
    position: relative;
}
.shopcart .top-cart .fa {
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.shopcart .top-cart {
    display: flex;
    align-items: baseline;
    /* justify-content: space-around; */
}
.wrap {
    width: 100%;
}
.shopcart .title-cart {
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 0;
}
.shopcart .index-cart {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 70vh;
    z-index: 100;
    height: 40.8vw;
    display: none;
    background-color: #9999cc;
    overflow-y: scroll;
    /* position: relative; */
}
.shopcart .index-cart .detail-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* margin: 20px 0; */
    border-bottom: 1px solid #ccc;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56ccf2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.total-courses {
    z-index: 99;
    width: 100%;
    bottom: 0;
    padding: 10px 40px;
    background-color: rgba(6, 2, 2, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-courses .number {
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.total-courses .text {
    color: white;
}
.shopcart .index-cart .product {
    align-items: center;
}
.shopcart .index-cart .product .name-product h3 {
    font-size: 18px;
    font-weight: 600;
}
.shopcart .index-cart .product img {
    /* margin-right: 10px; */
    width: 100%;
}
.shopcart .index-cart .line {
    border: 1px solid #ccc;
    border-radius: 50%;
}
.detail-cart .cost-product p {
    font-size: 20px;
    font-weight: 600;
}
.delete {
    color: white;
    background: crimson;
    padding: 7px;
    border-radius: 7px;
    margin-left: 4px;
}
@media all and (max-width: 1199px) {
    #blog-img img {
        width: 100%;
    }
    #content-blog h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .para {
        font-size: 14px;
        padding: 15px 0;
        margin: 0;
    }

    .first,
    .comment,
    .date {
        font-size: 13px;
        margin-right: 8px;
        padding-right: 10px;
        margin-bottom: 15px;
    }
    .inner {
        margin-bottom: 15px;
    }
}

@media all and (max-width: 991px) {
    #content-blog .inner {
        font-size: 13px;
        margin-right: 8px;
        margin-bottom: 5px;
    }
    #content-blog h3 {
        font-size: 25px;
        margin: 5px 0;
    }
    .para {
        margin: 0;
        font-size: 13px;
        padding: 5px 0;
    }
    .big-image img {
        width: 100%;
    }
    button {
        margin-top: 10px;
    }
}
@media all and (max-width: 767px) {
}
@media all and (max-width: 576px) {
    #content-blog h3 {
        margin: 10px 0;
    }
    .inner {
        margin-bottom: 10px;
    }
    .para {
        padding: 10px 0;
    }
}
