/* //// Style Nav ////// */

/* //////////////////////////// List-BLog /////////////////////////////// */
.row {
    margin: 0;
}
.wrapper {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;
    padding-bottom: 34px;
}
#content-blog {
    margin-top: 1px;
}
#content-blog h3 {
    font-size: 30px;
    margin-bottom: 9px;
    font-weight: 700;
    text-transform: capitalize;
}
#content-blog .inner {
    display: flex;
}
#content-blog .first,
#content-blog .comment,
#content-blog .date {
    font-size: 14px;
    position: relative;
    margin-right: 12px;
    padding-right: 12px;
    font-weight: 400;
    margin-bottom: 25px;
}

#content-blog .first:after,
#content-blog .comment:after {
    content: "";
    width: 2px;
    height: 100%;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    right: 0;
    bottom: 0;
}

#content-blog .para {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    padding-top: 26px;
    border-top: 2px solid #336699;
}

#content-blog button {
    background: url(../images/button.png) no-repeat;
    width: 134px;
    height: 40px;
    border: none;
    background-color: unset;
    font-size: 14px;
    font-weight: 700;
    margin-left: 6px;
    margin-top: 37px;
    padding-bottom: 10px;
    padding-left: 0;
    text-transform: uppercase;
}
#content-blog button:focus {
    outline: none;
}

@media all and (max-width: 1199px) {
    #blog-img img {
        width: 100%;
    }
}

@media all and (max-width: 1199px) {
    #content-blog .first,
    #content-blog .comment,
    #content-blog .date {
        font-size: 13px;
        margin-right: 8px;
        padding-right: 10px;
        margin-bottom: 15px;
    }
}
@media all and (max-width: 991px) {
    #content-blog .first,
    #content-blog .comment,
    #content-blog .date {
        font-size: 13px;
        margin-right: 15px;
        padding-right: 13px;
        margin-bottom: 15px;
    }
    #content-blog h3 {
        font-size: 25px;
    }
    #content-blog .para {
        margin: 0;
        font-size: 13px;
        padding-top: 10px;
    }
    #blog-img img {
        width: 100%;
    }
    #content-blog button {
        margin-top: 10px;
    }
}
